p {
  text-align: justify;
  margin: 0px; }

span.text-small {
  font-size: 11px;
  margin-left: 5px; }

.card-header .text-small, .card-subheader .text-small {
  color: #999 !important; }

body, #body, #outer-content, .md-sidenav-left {
  background-color: #FAFAFA;
  line-height: 26px; }

#header {
  border-bottom: solid 1px #ca2100; }

md-toolbar {
  min-height: 43px;
  height: 43px; }

.md-toolbar-tools {
  height: inherit;
  font-size: 20px; }

.md-button {
  margin: 0px 6px;
  font-size: 14px !important;
  text-transform: none !important; }

.md-button.md-raised:not([disabled]) {
  box-shadow: none;
  border: 1px solid #ca2100; }

#inner-content {
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1; }

#outer-content {
  padding-right: 10px; }

.md-subheader {
  background-color: #FAFAFA; }

.card {
  padding: 10px 20px; }

h2.card-header, h3.card-subheader {
  font-size: 20px;
  color: #dd4b39 !important;
  margin: 0px; }

h3.card-subheader {
  font-size: 14px; }

.card-content {
  margin-bottom: 10px; }

.md-3-line {
  margin: 10px 0px; }

md-tab-item {
  color: #999 !important; }

md-tab-item.md-active {
  color: #303333 !important; }

.md-tab {
  text-transform: none !important; }

md-list-item.domain {
  padding-top: 10px; }

.md-list-item-text p {
  color: #303333 !important;
  padding-bottom: 10px; }

div.icon {
  margin-right: 5px;
  padding-top: 11px; }

p.center, h3.center {
  text-align: center; }

.dashed-divider {
  margin-top: 10px;
  border-bottom: 1px dashed #ddd; }

.my-association {
  margin-bottom: 5px; }

p.my-text {
  padding: 12px;
  height: 49px;
  text-align: center;
  vertical-align: middle;
  border: 1px black solid;
  background-color: #E8EAF6; }

#associations .md-button.my-button:hover .material-icons {
  color: black; }

.material-icons.not-appreciated {
  color: #999; }

.material-icons.my-good {
  color: #4CAF50; }

.material-icons.my-bof {
  color: #CDDC39; }

.material-icons.my-bad {
  color: #FFC107; }

.material-icons.my-clear {
  color: #FF5722; }

.material-icons.my-move {
  color: #ca2100; }

.appreciation-button {
  margin: 0px;
  min-width: 60px; }

/*
.md-button.my-good, .md-button.my-bof, .md-button.my-bad, .md-button.my-clear, .md-button.my-move {
  margin: 0px;
  border-radius: 0px;
  padding: 6px 0px;
}
.md-button.my-good, .md-button.my-good:hover, div.my-good {
  background-color: $good;
}
.md-button.my-bof, .md-button.my-bof:hover, div.my-bof {
  background-color: $bof;
}
.md-button.my-bad, .md-button.my-bad:hover, div.my-bad {
  background-color: $bad;
}
.md-button.my-clear, .md-button.my-clear:hover {
  background-color: $clear;
}
.md-button.my-move, .md-button.my-move:hover, div.my-move {
  background-color: $move;
}
*/
.md-button.my-appreciated, .md-button.my-button:hover {
  border: 1px black solid; }

div.my-button, div.my-move {
  height: 47px;
  padding: 0px 15px;
  border: 1px black solid;
  border-left: 0px;
  vertical-align: middle; }

div.my-move {
  border: 1px black solid;
  border-right: 0px; }

.material-icons.md-24.md-spec {
  position: relative;
  top: 10px; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-36.md-special {
  position: relative;
  top: 10px; }

.material-icons.md-24.md-special {
  position: relative;
  top: 5px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=style.css.map */
