$blue: #E8EAF6;
$move: #3F51B5;
$clear: #FF5722;
$good: #4CAF50;
$bof: #CDDC39;
$bad: #FFC107;
$border: black;
///////////////////////////////////
$background: #FAFAFA;
$toolbar-bg: #ca2100;
$toolbar-border: #db4c3f;
$toolbar-height: 43px;

$font-size-big: 20px;
$font-size-normal: 14px;
$font-size-small: 11px;

$line-height: 26px;
///////////////////////////////////
p {
  text-align: justify;
  margin: 0px;
}
span.text-small {
  font-size: $font-size-small;
  margin-left: 5px;
}
.card-header .text-small, .card-subheader .text-small {
  color: #999 !important;
}

body, #body, #outer-content, .md-sidenav-left {
  background-color: $background;
  line-height: $line-height;
}
#header {
  border-bottom: solid 1px #ca2100;
}

md-toolbar {
  min-height: $toolbar-height;
  height: $toolbar-height;
}
.md-toolbar-tools {
  height: inherit;
  font-size: $font-size-big;
}
.md-button {
  margin: 0px 6px;
  font-size: $font-size-normal !important;
  text-transform: none !important;
}
.md-button.md-raised:not([disabled]) {
  box-shadow: none;
  border: 1px solid #ca2100;
}


#inner-content {
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}
#outer-content {
  padding-right: 10px;
}

.md-subheader {
  background-color: $background;
}

.card {
  padding: 10px 20px;
  //margin-bottom: 10px;
}
h2.card-header, h3.card-subheader  {
  font-size: $font-size-big;
  color: #dd4b39 !important;
  margin: 0px;
}
h3.card-subheader {
  font-size: $font-size-normal;
}
.card-content {
  margin-bottom: 10px;
}

.md-3-line {
  margin: 10px 0px;
}

md-tab-item {
  color: #999 !important;
}
md-tab-item.md-active {
  color: #303333 !important;
}
.md-tab {
  text-transform: none !important;
}

md-list-item.domain {
  padding-top: 10px;
}
.md-list-item-text p {
  color: #303333 !important;
  padding-bottom: 10px;
}
////////////////////////////////////////////////////////////////////////////////////////

// side bar
div.icon {
  margin-right: 5px;
  padding-top: 11px;
}
// main
p.center, h3.center {
  text-align: center;
}

.dashed-divider {
  margin-top: 10px;
  border-bottom: 1px dashed #ddd;
}

// Association item
.my-association {
  margin-bottom: 5px;
  //background-color: $blue;
}

p.my-text {
  padding: 12px;
  height: 49px;
  text-align: center;
  vertical-align: middle;
  border: 1px $border solid;
  background-color: $blue;
  //color: white;
}

// Appreciation buttons
#associations .md-button.my-button:hover .material-icons {
    color:black;
}

.material-icons.not-appreciated{
  color: #999;
}
.material-icons.my-good {
  color: $good;
}
.material-icons.my-bof {
  color: $bof;
}
.material-icons.my-bad {
  color: $bad;
}
.material-icons.my-clear {
  color: $clear;
}
.material-icons.my-move {
  color: $toolbar-bg;
}

.appreciation-button {
  margin: 0px;
  min-width: 60px;
}
.move-button {
  margin: 0px;
  min-width: 20px;
}
/*
.md-button.my-good, .md-button.my-bof, .md-button.my-bad, .md-button.my-clear, .md-button.my-move {
  margin: 0px;
  border-radius: 0px;
  padding: 6px 0px;
}
.md-button.my-good, .md-button.my-good:hover, div.my-good {
  background-color: $good;
}
.md-button.my-bof, .md-button.my-bof:hover, div.my-bof {
  background-color: $bof;
}
.md-button.my-bad, .md-button.my-bad:hover, div.my-bad {
  background-color: $bad;
}
.md-button.my-clear, .md-button.my-clear:hover {
  background-color: $clear;
}
.md-button.my-move, .md-button.my-move:hover, div.my-move {
  background-color: $move;
}
*/
// on Appreciation click
.md-button.my-appreciated, .md-button.my-button:hover {
  border: 1px $border solid;
}

// For showing association in /score
div.my-button, div.my-move {
  height: 47px;
  padding: 0px 15px;
  border: 1px $border solid;
  border-left: 0px;
  vertical-align: middle;
}
div.my-move {
  border: 1px $border solid;
  border-right: 0px;
}
.material-icons.md-24.md-spec {
position: relative;
top: 10px; }

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-36.md-special {
position: relative;
top: 10px; }

.material-icons.md-24.md-special {
position: relative;
top: 5px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
