<div class="card" layout="column">
  <h2 class="md-headline card-header">KAT Game <span class="text-small">Knowledge AssociaTions Game</span></h2>
  <div class="card-content">
    <p class="md-body-1"><em>KAT (Knowledge AssociaTions) Game</em> est un jeux-outil qui permet d'aquerir les associations et appreciations que les personnes ont par rapport à differents mots et concepts.
    L'objectif pour un jouer est de réussir à deviner les mots communs que d'autres joueurs ayant le même profil associent au concept présenté par le jeux.</p>
  </div>
  <md-divider></md-divider>
</div>

<div class="card" layout="column">
  <h2 class="md-headline card-header">Comment jouer?</h2>
  <div class="card-content">
    <p class="md-body-1">En choisissant un domaine, vous devriez indiquez les informations qui permettent de definir votre profil, ceci permet au jeux de vous positionner face à des adversaires qui vous ressemblent le plus possible.<br/>
    Le jeux va vous présentez un concept pour lequel vous allez introduire une liste de mots (adjectif, phrases, concepts..etc.) que vous associez librement au concept proposé.
    Vous devriez ensuite indiquer -si possible- votre opinions vis-a-vis des concepts proposés [j'aime, je suis indifférent, je n'aime pas].<br/>
    Enfin vous aurez la possibilite d'ordonner votre liste de concepts en fonction de leur pertinence.
    Vous ganierez des points lorsque les termes que vous avez donnés correspondent à ceux des autres joueurs ayant un profil proche du votre. De plus vous ganiez des 'combos' selon l'ordre et les appreciations que vous avez donnés.</p>
  </div>
  <md-divider></md-divider>
</div>

<div class="card" layout="column">
  <h2 class="md-headline card-header">Pourquoi avons nous besoin des associations?</h2>
  <div class="card-content">
    <p class="md-body-1">Le cerveau humain n'est pas à 100% rationnel, il utilise parfois les associations entre differentes notions pour prendre des décisions rapide vis-à-vis d'une situation, par exemple: <em>Devrais-je prendre un chat a la maison sachant que je suis allergique au chat?</em><br/>
    Une personne 100% rationnelle vas vite dire non, cependant, le cerveau utilise parfois les associations pour arriver à des conlusions subjectives, par example: <em>"les chats sont mignon, Je vais chercher un chat!"</em></p>
  </div>
  <md-divider></md-divider>
</div>
