<div class="card" layout="column">
  <h2 class="md-headline card-header">KAT Game <span class="text-small">Knowledge AssociaTions Game</span></h2>
  <div class="card-content">
    <p class="md-body-1"><em>KAT (Knowledge AssociaTions) Game</em> est un jeu-outil qui permet d'acquérir des associations et appréciations que les personnes ont par rapport à différents mots et concepts. L'objectif pour un joueur est de réussir à deviner les mots communs que d'autres joueurs ayant le même profil associent au concept présenté par le jeu.</p>
  </div>
  <md-divider></md-divider>
</div>

<div class="card" layout="column">
  <h2 class="md-headline card-header">Comment jouer?</h2>
  <div class="card-content">
    <p class="md-body-1">En choisissant un domaine, vous devrez indiquer les informations qui permettent de définir votre profil. Ceci permet au jeu de vous positionner face à des adversaires qui vous ressemblent le plus.<br/>
    Le jeu va vous présenter un concept auquel vous allez associer librement une liste de mots (adjectif, phrases, concepts, ..etc.). Vous devrez ensuite indiquer -si possible- votre opinion vis-a-vis des concepts proposés [j'aime, je suis indifférent, je n'aime pas].<br/>
    Enfin vous aurez la possibilité d'ordonner votre liste de concepts en fonction de leur pertinence. Vous gagnerez des points lorsque les termes que vous avez donnés correspondent à ceux des autres joueurs ayant un profil proche du vôtre. De plus vous gagnerez des 'combos' selon l'ordre et les appréciations que vous avez donnés.</p>
  </div>
  <md-divider></md-divider>
</div>

<div class="card" layout="column">
  <h2 class="md-headline card-header">Pourquoi avons nous besoin des associations?</h2>
  <div class="card-content">
    <p class="md-body-1">Le cerveau humain n'est pas à 100% rationnel. Il utilise parfois les associations entre différentes notions pour prendre des décisions rapides vis-à-vis d'une situation, par exemple: <em>Devrais-je prendre un chat à la maison sachant que je suis allergique au chat?</em><br/>
    Une personne 100% rationnelle va vite dire non. Cependant, le cerveau utilise parfois des associations pour arriver à des conclusions subjectives, par example: <em>"les chats sont mignon, Je vais chercher un chat!"</em><br/></p>
  </div>
  <md-divider></md-divider>
</div>
