<md-card class="card">
  <md-toolbar>
    <h2 class="md-toolbar-tools">KAT (Knowledge AssociaTions) Game</h2>
  </md-toolbar>

  <md-card-content>
    <p class="md-body-1"><strong>KAT (Knowledge AssociaTions) Game</strong> est un jeux-outil qui permet d'aquerir les associations et appreciations que les personnes ont par rapport à differents mots et concepts.
    L'objectif pour un jouer est de réussir à deviner les mots communs que d'autres joueurs ayant le même profil associent au concept présenté par le jeux.</p>
  </md-card-content>
</md-card>

<md-card class="card">
  <md-toolbar class="md-accent md-hue-3">
    <h2 class="md-toolbar-tools">Comment jouer?</h2>
  </md-toolbar>

  <md-card-content>
    <p class="md-body-1">En choisissant un domaine, vous devriez indiquez les informations qui permettent de definir votre profil, ceci permet au jeux de bien vous trouvez un adversaire qui vous ressemble le plus possible.<br/>
    Le jeux va vous presentez un concept pour lequel vous devriez introduire une liste de mots (adjectif, phrases, concepts..etc.) que vous associez librement a ce concept.<br/>
    Vous devriez ensuite indiquer -si possible- votre opinions vis-a-vis des concepts vous avez proposez : [j'aime, je suis indifferent, je n'aime pas].<br/>
    Enfin vous aurez la possibilite d'ordonner votre liste de concepts par ordre d'importance, plus c'est haut dans la liste, plus vous pensez qu'il y a une forte associations avec le concept presente par le jeux.<br/>
    Vous ganierez des points lorsque les termes que vous avez donnes correspondent a ceux des autres joueurs ayant un profil proche du votre. De plus vous ganiez des 'combos' selon l'ordre et les appreciations que vous avez donnes.</p>
  </md-card-content>
</md-card>

<md-card class="card">
  <md-toolbar>
    <h2 class="md-toolbar-tools">Pourquoi avons nous besoin des associations?</h2>
  </md-toolbar>

  <md-card-content>
    <p class="md-body-1">Le cerveau humain n'est pas a 100% rationnel, il utilise parfois les associations entre differente notions pour prendre des decisions rapide vis-a-vis d'une situation, par exemple: Devrais-je prendre un chat a la maison sachant que je suis alergique au chat?<br/>
    Une personne 100% rationnelle vas vite dire non, cependant, parfois le cerveau utilise les associations pour arriver a des conlusions subjectives, par example: "les chats sont mignon, Allons chercher un chat!"</p>

  </md-card-content>
</md-card>
