<div class="card" layout="column">
  <h2 class="md-headline card-header" translate="BTN_LOGIN"></h2>
  <div class="card-content">
    <form role="form" method="POST">
      <!-- Social login
      <div layout="column">
        <md-button class="md-primary" aria-label="Login" type="button" flex>
          Log In with Facebook
        </md-button>
        <md-button class="md-primary" aria-label="Login" type="button" flex>
          Log In with Google+
        </md-button>
      </div>

      <h3 class="md-subhead center">Or login with your username</h3> -->
      <!-- Regular login -->
      <div layout="column">
        <md-input-container>
          <label translate="USERNAME"></label>
          <input ng-model="login.data.username">
        </md-input-container>
        <md-input-container>
          <label translate="PASSWORD"></label>
          <input type="password" ng-model="login.data.password">
        </md-input-container>
        <div layout="column" layout-align="center center">
          <md-button class="md-primary md-raised" aria-label="Login" flex ng-click="login.submit()" translate="BTN_LOGIN">
          </md-button>
        </div>
      </div>
    </form>
  </div>
  <md-divider></md-divider>
</div>
