<div class="card" layout="column">
  <h2 class="md-headline card-header" translate="PLAY_HEADER" translate-values='{ name: play.concept.name }'></h2>
  <div class="card-content">
    <form role="form" method="POST">
    <md-list>
      <md-list-item class="md-2-line">
        <img class="md-avatar" hide-sm src="{{ play.concept.image }}" />
        <div class="md-list-item-text">
          <h3>{{ play.concept.name }} <span class="text-small">- {{sideNav.domain.title}} ({{sideNav.play.nbr_played_concepts}}/{{sideNav.play.nbr_concepts}})</span></h3>
          <p>{{ play.concept.description }}</p>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>

    <md-content layout-padding layout="row">
        <md-input-container flex>
          <label translate="PLAY_INPUT" translate-values='{ name: play.concept.name }'></label>
          <input name="{{play.concept.name}}" ng-model="play.input.associated_concept">
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button class="md-primary md-raised" aria-label="add" ng-click="play.addConcept()">Add
          </md-button>
      </div>
    </md-content>

    <md-list dnd-list="play.concept.associations" id="associations">
      <div ng-repeat="association in play.concept.associations">
        <md-list-item class="md-1-line my-association"
            dnd-draggable="association"
            dnd-moved="play.concept.associations.splice($index, 1)">
            <md-button class="move-button" type="button" ng-click="play.moveUp($index)"><i class="material-icons md-24 md-special my-move ">keyboard_arrow_up</i></md-button>
            <md-button class="move-button" type="button" ng-click="play.moveDown($index)"><i class="material-icons md-24 md-special my-move ">keyboard_arrow_down</i></md-button>

            <p class="md-list-item-text" flex>{{ association.associated_concept.name }}</p>

            <md-button
              class="appreciation-button" type="button" ng-click="play.appreciate($index, 2)">
              <i ng-class="(play.concept.associations[$index].associated_concept.appreciations[0].appreciation == 2) ? 'my-good' : 'not-appreciated'"
              class="material-icons md-24 md-special" >thumb_up</i></md-button>
            <md-button class="appreciation-button" type="button" ng-click="play.appreciate($index, 1)">
              <i ng-class="(play.concept.associations[$index].associated_concept.appreciations[0].appreciation == 1) ? 'my-bof' : 'not-appreciated'"
              class="material-icons md-24 md-special">thumbs_up_down</i></md-button>
            <md-button class="appreciation-button" type="button" ng-click="play.appreciate($index, 0)">
              <i ng-class="(play.concept.associations[$index].associated_concept.appreciations[0].appreciation == 0) ? 'my-bad' : 'not-appreciated'"
              class="material-icons md-24 md-special">thumb_down</i></md-button>

            <md-button class="appreciation-button" type="button" ng-click="play.concept.associations.splice($index, 1)">
              <i class="material-icons md-24 md-special my-clear">clear</i></md-button>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </md-list>

    <div layout="row">
      <md-button class="md-primary md-raised" aria-label="Play" type="button" flex ng-click="play.submit($event)" flex translate="PLAY_BTN_SUBMIT">
      </md-button>
      <md-button class="md-primary" aria-label="Play" type="button" flex ng-click="play.playAnotherConcept()" flex translate="PLAY_BTN_REPLAY">
      </md-button>
    </div>
    </form>
  </div>
  <md-divider></md-divider>
</div>
