<div class="card" layout="column">
  <h2 class="md-headline card-header" translate="PROFILE_HEADER" translate-values='{ name: profiles.domain.title }'></h2>
  <div class="card-content">
    <md-list>
      <md-list-item class="md-3-line">
        <img class="md-avatar" hide-sm src="{{ profiles.domain.image }}" />
        <div class="md-list-item-text" flex>
          <h3 class="card-subheader">{{ profiles.domain.title }}</h3>
          <h4 translate="DOMAIN_NBR_CONCEPTS" translate-values='{ n: profiles.domain.nbr_concepts }'></h4>
          <p>{{ profiles.domain.text }}</p>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list>
      <form role="form" method="POST">
        <md-list-item class="md-3-line dashed-divider" ng-repeat="profile in profiles.data">
          <img class="md-avatar" hide-sm src="http://www.uspto.gov/sites/default/files/styles/wysiwyg_small/public/Help%20-%20Question%20Mark.png?itok=LL3t9IXZ" />
          <div class="md-list-item-text">
            <h3>{{ profile.designation }}</h3>
            <h4>{{ profile.question }}</h4>
            <md-radio-group layout-wrap layout="row" ng-model="profiles.data[$index].answer">
              <md-radio-button ng-repeat="value in profile.possible_values" value="{{value.id}}">{{value.value}}</md-radio-button>
            </md-radio-group>
          </div>
        </md-list-item>
        <div layout="column" layout-align="center center">
          <md-button class="md-primary md-raised" aria-label="Play" type="button" flex ng-click="profiles.submit()" translate="PROFILE_PLAY">
        </md-button></div>
      </form>
    </md-list>
  </div>
  <md-divider></md-divider>
</div>
