<div class="card" layout="column">
  <h2 class="md-headline card-header" translate="BTN_SIGN_UP"></h2>
  <div class="card-content">
    <form name="registerForm" role="form" method="POST">
      <!-- Social login
      <div layout="column">
        <md-button class="md-primary" aria-label="Login" type="button" flex translate="">
          Sign Up with Facebook
        </md-button>
        <md-button class="md-primary" aria-label="Login" type="button" flex>
          Sign Up with Google+
        </md-button>
      </div>

      <h3 class="md-subhead center">Or sign up with your email adresse</h3> -->
      <!-- Regular login -->
      <div layout="column">
        <md-input-container>
          <label translate="USERNAME"></label>
          <input ng-model="register.data.username">
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="register.data.email">
        </md-input-container>
        <md-input-container>
          <label translate="PASSWORD"></label>
          <input type="password" ng-model="register.data.password">
        </md-input-container>
        <md-input-container>
          <label translate="PASSWORD_CONFIRM"></label>
          <input type="password" ng-model="register.data.password_confirmation">
        </md-input-container>
        <!--<md-datepicker ng-model="register.data.birthdate" md-placeholder="Date Of Birth"></md-datepicker>-->
        <div layout="column" layout-align="center center">
          <md-button class="md-primary md-raised" aria-label="Login" type="button" flex ng-click="register.submit()" translate="BTN_SIGN_UP">
          </md-button>
        </div>
      </div>
    </form>
  </div>
  <md-divider></md-divider>
</div>
